.content {
    display: contents;
    align-items: center;
    justify-content: center;
}

.activity-list {
    background-color: white;
    height: 300px;
    width: 350px;
}

.button {
   background-color:#AF7EEB;
   color: white;
   height: 40px;
   width: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 37px;
   cursor: pointer;
}

.tasks-generator {
height: 50px;
width: 350px;
background-color:rgb(210, 200, 232);
display: flex;
align-items: center;
justify-content: space-evenly;
}

.typing-task {
    height: 30px;
    width: 280px;
}

