.title {
    height: 40px;
    width: 270px;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pen{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 63px;
}