.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgb(227 229 234 / 76%);
  scrollbar-width: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Courier, monospace;
}